/*=============== FONT IMPORTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== CSS VARIABLES ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue-color: 206;
  --black-color: hsl(var(--hue-color), 4%, 4%);
  --black-color-alt: hsl(var(--hue-color), 4%, 8%);
  --title-color: hsl(var(--hue-color), 4%, 95%);
  --text-color: hsl(var(--hue-color), 4%, 75%);
  --text-color-light: hsl(var(--hue-color), 4%, 65%);
  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 4%, 6%);
  --container-color: hsl(var(--hue-color), 4%, 10%);
  --text-gradient: linear-gradient(
    hsl(var(--hue-color), 4%, 24%),
    hsl(var(--hue-color), 4%, 8%)
  );
  --scroll-thumb-color: hsl(var(--hue-color), 4%, 16%);
  --scroll-thumb-color-alt: hsl(var(--hue-color), 4%, 20%);

  /*========== Font & Typographies ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 5rem; /* 80px */
  --bigger-font-size: 3.5rem; /* 56px */
  --big-font-size: 2.5rem; /* 40px */
  --h2-font-size: 1.25rem; /* 20px */
  --h3-font-size: 1.125rem; /* 18px */
  --normal-font-size: 0.938rem; /* 15px */
  --small-font-size: 0.813rem; /* 13px */
  --smaller-font-size: 0.75rem; /* 12px */
  --text-line-height: 2rem; /* 32px */

  /*========== Font Weights ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Bottom Margins ==========*/
  --mb-0-5: 0.5rem; /* 8px */
  --mb-0-75: 0.75rem; /* 12px */
  --mb-1: 1rem; /* 16px */
  --mb-1-5: 1.5rem; /* 24px */
  --mb-2: 2rem; /* 32px */
  --mb-2-5: 2.5rem; /* 40px */

  /*========== z indexes ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== RESPONSIVE TYPOGRAPHY ===============*/
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 7.5rem; /* 120px */
    --bigger-font-size: 4.5rem; /* 72px */
    --big-font-size: 4rem; /* 64px */
    --h2-font-size: 1.5rem; /* 24px */
    --h3-font-size: 1.25rem; /* 20px */
    --normal-font-size: 1rem; /* 16px */
    --small-font-size: 0.875rem; /* 14px */
    --smaller-font-size: 0.813rem; /* 13px */
  }
}

/*=============== BASE ===============*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
  /* font: inherit; */
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/* removes all animations, transitions and smooth scroll (accessibility) */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4rem 0 2rem;
}

.section__title {
  font-size: var(--bigger-font-size);
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.section__title-gradient {
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*=============== LAYOUT ===============*/
.main {
  overflow: hidden; /*For Animation and Images*/
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

/*=============== HEADER ===============*/

/*=============== NAV ===============*/

/* show menu */

/* Change background header */

/* Active link */

/*=============== HOME ===============*/

/*=============== BUTTONS ===============*/

/*=============== SPONSOR ===============*/

/*=============== SPECS ===============*/

/*=============== CASE ===============*/

/*=============== DISCOUNT ===============*/

/*=============== PRODUCTS ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up*/

/*=============== SCROLL BAR ===============*/

/*=============== MEDIA QUERIES ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */
